* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(41, 41, 41);
  color: white;
}
.profile {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
}

.Blue {
  background: linear-gradient(90deg, #c9a3ff, #8ec5ff);
  color: transparent;
  background-clip: text;
}

.Yellow {
  background: linear-gradient(90deg, #ff7373, #ffc24a);
  color: transparent;
  background-clip: text;
}

.divider {
  width: 10px;
  height: 76px;
  background-color: white;
}

.photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid 1px white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  border-right: 1px solid white;
}

.rightPanel {
  width: 70%;
  padding: 70px;
}

.separator {
  border-bottom: 0.05cm solid white;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

h2 {
  margin-top: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bar {
  width: 100%;
  height: 5px;
  background: #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bar span {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #34d0a9, #38e2f5);
  border-radius: 5px;
}
.container-circles {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.circle {
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  background: linear-gradient(#333) padding-box,
    linear-gradient(to top, #34d0a9, #38e2f5) border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.text {
  display: flex;
}
